@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.graphicTable{
    &__data-table{
        margin: 50px 0px 0px;
        padding: 45px 30px 31px;
        background-color: #FFFFFF;
        border-radius: 15px;
        height: 475px;
        @include FromMax($large) {
            padding: 50px 5px 0px;
        }
        &__title{
            margin-bottom: 40px;
            font-size: 24px;
            line-height: 20px;
            color: #202224;
            font-weight: 700;
        }
        & p{
            font-size: 14px;
            font-weight: 700;
            line-height: 19.1px;
            text-align: center;
            color: #202224;
            margin: 150px auto;
        }
        
    }
    &__info-color-data{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        & .--data-1{
            display: flex;
            align-items: center;
            margin: 0px 5px;
        
            &::before{
                content: "*";
                color: transparent;
                width: 2px;
                height: 5px;
                border-radius: 50%;
                font-size: 0px;
                padding: 5px;
                margin: 3px;
                background-color: #B1E3FF;
            }
        }
        & .--data-2{
            display: flex;
            align-items: center;
            margin: 0px 5px;
            &::before{
                content: "*";
                color: transparent;
                width: 2px;
                height: 5px;
                border-radius: 50%;
                font-size: 0px;
                padding: 5px;
                margin: 3px;
                background-color: #ACB8FD;
            }
        }
    }
}
